.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 16px;
}
.main:hover {
  cursor: pointer;
}

.text {
  font-size: 15px;
  color: rgb(63, 63, 63);
  padding-top: 6px;
  margin-left: 14px;
}
