.container {
  display: flex;
  width: 500px;
  margin: 0 8px;
}

.icon {
  height: 24px;
  width: 6%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  outline: 0;
  background-color: #ffffff;
  padding: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 24px;
  width: 94%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  outline: 0;
  background-color: #ffffff;
  padding: 2px 4px;
}
