body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section1 {
  display: flex;
}

.contentContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 16px;
  padding: 16px;
}

.leftGrid {
}
.rightGrid {
}
